{% extends 'base.html' %}


{% block content %}
    <h1>Announcements</h1>
    
    
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              {% for announcement in announcements %}
              <h5 class="card-title">{{ announcement.title }} </h5>
              <p class="card-text">{{ announcement.text|truncatechars:10 }}</p>
              <span class="date">{{ announcement.created_at }}</span>
              <!-- <a href="{% url 'announcements:detail' %}" class="btn btn-primary">See more...</a> -->
              {% endfor %}
            </div>
          </div>
        </div>
    
        

{% endblock  %}
    